.lista-centro{
    display: grid;
    /* justify-content: center;
    position: relative; */
    place-items: center;
}

.letrero-img-centro-abajo{
    position: relative;
    bottom: 40%;
}

.letrero-img-centro{
    position: relative;
    bottom: 4%;
}

.letrero-txt-centro-arriba{
    position: absolute;
    top: 10%;
}

.letrero-txt-lado-arriba{
    position: absolute;
    top: 5%;
    left: 5%;right: 5%;
    background-color: #198754;
    color: white;
}
.letrero-txt-lado-arriba-derecha{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #198754;
    color: white;
}

.fondo-opaco{
    background-color: rgba(127, 255, 212, 0.75);
    color: #0f5132;
    text-align: justify ;
    font-size: 1rem;
    padding: 1%;
    border: #0f5132;
}
.peque{
    /* width: 40%;*/ height: auto; 
}

.letrero-txt-centro-abajo{
    position: absolute;
    /*bottom: 10%;
     left: 25%; */
    color: white;
}
.posc-fondo-div{
    position: absolute;
    top: 5%;
    justify-content: inherit;
}

.posc-fondo-div-StopVideo{
    position: absolute;
    bottom: 5%;
    justify-content: inherit;
}

.posc-fondo-div-Salida{
    position: absolute;
    bottom: 2%;
    right: 2%;
    /* scale: .25; */
}
.posc-fondo-div-proxNvl{
    position: absolute;
    bottom: 15%;
    text-align: center;
}
.posc-fondo-div-tierra{
    position: absolute;
    bottom: 20%;/* posicion 6rem, probando con 20cqb*/
    text-align: center;
}
.posc-fondo-div-herra{
    position: absolute;bottom: 4%;text-align: center;
}
.posc-fondo-div-letrero-guia{
   position: absolute; bottom: 14%;
}

.imagenFit{
    object-fit: cover;
	width: 100%; /* La imagen ocupa el 100% del ancho del div */
    height: 100vh; /* La imagen ocupa el 100% del alto del div */    
}
.imagenWebp{
	width: 65%; /* La imagen ocupa el 65% del ancho del div */
    height: 95%; /* La imagen ocupa el 95% del alto del div */    
}

.imagenScala60 {
	height:8rem ;/* probando con 6rem,15rem amplia horizontal,40cqb*/
	width: 6rem;/* probando con 6rem,8rem amplia vertical,25cqh*/
}


.imagenScala {
    @media only screen and (max-width:199px) {
        height: 7rem;
        width: 2rem;
    }

    @media only screen and (min-width:200px) and (max-width:1702px)  {
        height: 15%;
        width: 15%;
    }
}

.imagenEnfoque {
    opacity: .7;
    transform:scale(0.76);    
}
.imagenEnfoque:hover {
    opacity: 1;
    /* -webkit-transform:scale(0.25);
    -moz-transform:scale(0.25);
    -ms-transform:scale(0.25);
    -o-transform:scale(0.25);*/
    transform:scale(0.9); 
    
}

.imagenScala20Tool {
	/* height: 100px;
	width: 100px; */
    opacity: .9 ;
    transform: scale(.5);

    @media only screen and (max-width:420px) {
        height: 5rem;
        width: 5rem;
    }

    @media only screen and (min-width:421px) and (max-width:1702px)  {
        height: 6rem;
        width: 6rem;
    }
}
.imagenScala20Tool:hover {
    opacity: 1 ;
    transform: scale(.7);
}
.fondo_casa{
    src: url("../imgs/gms/n1_terreno_original.jpg");
}

.video_container{
    height: 100vh  ;
    max-width: 90%;
    overflow: hidden;
    margin: auto;
}

.video_container video {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
}
